/Effect_Tool/Debug
/Effect_Tool/Release
/Effect_Tool/Effect_Tool.VC.db
/Effect_Tool/.vs
/Effect_Tool/Effect_Tool/Debug
/Effect_Tool/Effect_Tool/Release
/Effect_Tool/Effect_Tool/data/プリセット集
/Effect_Tool/Effect_Tool/data/IntermeidiateText3D.txt
/Effect_Tool/Effect_Tool/data/SaveText.txt
/Effect_Tool/Effect_Tool/data/IntermeidiateText2D.txt
/Effect/Debug
/Effect/Release
/Effect/Effect.VC.db
/UISet/Debug
/UISet/Release
/UISet/UISet.VC.db
/Effect_Tool/Effect_Tool.VC.VC.opendb
